<?xml version="1.0" encoding="UTF-8"?>
<module id="4" version="2014051202">
  <modulename>forum</modulename>
  <sectionid>15</sectionid>
  <sectionnumber>0</sectionnumber>
  <idnumber>$@NULL@$</idnumber>
  <added>1449534282</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <groupmembersonly>0</groupmembersonly>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
</module>